<ion-view title="ACUPUNCTURE" hide-back-button="true" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/S0XnlvTQCSDahfZYOcAh_acupuncture.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="aCUPUNCTURE-list1">
      <ion-item class="item-thumbnail-left" id="aCUPUNCTURE-list-item1" ui-sref="mindmeditate()">
        <img src="img/wmO5vMqTnWC82mcTfwZY_mindmeditate-Logov1.1.png">
        <h2>MINDMEDITATE</h2>
        <p style="white-space:normal;">Yoga is from India and we are into Yoga business</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="aCUPUNCTURE-list-item2" ui-sref="neugenLife()">
        <img src="img/QhrepDnvToqc4xAtQSwW_neugen.life.jpg">
        <h2>Neugen.Life</h2>
        <p style="white-space:normal;">Yoga is from India and we are into Yoga business</p>
      </ion-item>
    </ion-list>
    <a ui-sref="contactUs()" id="aCUPUNCTURE-button7" class="button button-positive button-block">Contact Us</a>
  </ion-content>
</ion-view>