<ion-view title="mindmeditate" id="page3">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="mindmeditate-video2">
      <iframe src="{{videourl_video2}}" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;" width="560" height="315" frameborder="0"></iframe>
    </div>
    <div>
      <img src="img/5lIZViowTUaX4oZ4UhSA_gheelamp.jpg" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>