<ion-view title="Neugen.Life" id="page2">
  <ion-content padding="false" class="has-header">
    <h1 id="neugenLife-heading1" style="color:#000000;text-align:center;">History Of Yoga</h1>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/FbLVT3XbvjU?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="neugenLife-video1">
      <iframe src="{{videourl_video1}}" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;" width="560" height="315" frameborder="0"></iframe>
    </div>
    <ion-list id="neugenLife-list2">
      <ion-item class="item-avatar item-icon-right" id="neugenLife-list-item3">
        <img src="img/AGF-l7-q8EYvZ4IErgGbLInr5YnetOd7_xO61trOdAs176-mo-c-c0xffffffff-rj-k-no">
        <h2>Patanjali Akka</h2>
        <p style="white-space:normal;">fdfdsfsdfsdfsdfsdfsdfs</p>
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>