<ion-view title="slide me" hide-nav-bar="true" id="page6">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider3" delegate-handle="slider3" id="slideMe-slider3" style="width:100%;height:100%;">
      <ion-slide-page id="slideMe-slide213" style="background-color:#285BC0;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/bevBLrhIRe4nhBm9fOyQ_mind.png" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
              </div>
              <h1 id="slideMe-heading2" style="color:#000000;text-align:center;">mind</h1>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="slideMe-slide214" style="background-color:#2260D7;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/lXn2a2YmTaKgULxbh3tM_partofbody-SCHEDULE1-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h1 id="slideMe-heading3" style="color:#EDEFD7;text-align:center;">Body Percentage</h1>
              <a ui-sref="aCUPUNCTURE()" id="slideMe-button10" class="button button-positive button-block">Tap me!</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>