<ion-view title="video content" id="page4">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoContent-video3">
      <iframe src="{{videourl_video3}}" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;" width="560" height="315" frameborder="0"></iframe>
    </div>
    <ion-list id="videoContent-list3">
      <ion-item class="item-avatar" id="videoContent-list-item4">
        <img src="img/UCpGzfCTsHd7uIGI78oC68Lw">
        <h2>Simplified Kundalini &amp; KayaKalpa Yoga</h2>
        <p style="white-space:normal;">Published on Oct 25, 2018</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 285px; height: 173px;"></div>
    <div id="videoContent-button-bar1" class="button-bar">
      <a ui-sref="aCUPUNCTURE()" id="videoContent-button4" class="button button-positive button-block">1</a>
      <a ui-sref="neugenLife()" id="videoContent-button5" class="button button-positive button-block">2</a>
      <a ui-sref="mindmeditate()" id="videoContent-button6" class="button button-positive button-block">3</a>
    </div>
  </ion-content>
</ion-view>